# Identity Verification APIs (Other Headers)

Total APIs: 2

| Name | Description | Auth | HTTPS | CORS | Link |
| :--- | :--- | :--- | :--- | :--- | :--- |
| **BlockScore** | A real-time API for verifying an identity by name, address, date of birth, and social security number. | `unknown` | No | ✅ | [Visit Docs](https://docs.blockscore.com/) |
| **Cognito** | A powerful API for verifying and retrieving identity information. Can take a customer's cellphone number and return name, address history, full SSN, and date of birth. | `unknown` | No | ✅ | [Visit Docs](https://cognitohq.com/docs) |
